@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "variables.less";

header {
    background: url(../img/header-bg.png) center repeat;
    border-bottom: 1px solid @header-borders;
    border-top: 4px solid @logo-main;
    position: relative;
    z-index: 10000;
}

.navbar-brand {
    display: block;
    float: none;
    height: 107px;
    margin-bottom: -40px;
    position: relative;
    top: -50px;
    width: 230px;
    svg {
        display: block;
        height: auto;
        max-height: 107px;
        max-width: 200px;
        width: auto;
        .rever {
            fill: @logo-main;
        }
        .accents {
            fill: @logo-accent;
        }
    }
}

.navbar-default {
    position: static;
    .navbar-nav {
        > li > a:hover,
        > li > a:focus,
        > li.active > a:hover {
          background: transparent;
          border-color: transparent;
        }
    }
}

.open > a {
    background: #fff !important;
    border: 1px solid #cbcbcb !important;
    border-width: 1px 1px 0 1px !important;
    padding: 9px 9px 10px !important;
    position: relative;
    .transition(0s);
    z-index: 1001;
}
.open > .dropdown-menu {
    top: 39px;
}

.top-links {
    background: #fff;
    border-bottom: 1px solid @header-borders;
    position: static;
    .container {
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: right;
    }
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1000;
    li {
        display: inline-block;
        margin-left: 6px;
        a {
            background: mix(@gray-lighter, @gray-light, 57);
            .border-radius(15px);
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 30px;
            &:hover {
                &.facebook {
                    background: @facebook;
                }
                &.twitter {
                    background: @twitter;
                }
                &.flickr {
                    background: @flickr;
                }
                &.rss {
                    background: @rss;
                }
            }

            // Sub Elements
            .fa {
                color: #fff;
                font-size: 16px;
                position: relative;
                top: 1px;
                &.fa-circle {
                    display: inline-block;
                    font-size: 8px;
                    margin: 0 1px;
                    top: -2px;
                }
            }
        }
    }
}