@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "variables.less";

.widgets {
    .container {
        padding-bottom: (@section-padding * 1.5);
        padding-top: @section-padding;
    }
}

.widget {
    h3 {
        color: @brand-primary;
        font-size: 32px;
        font-weight: 400;
    }
}